{% extends "base.html" %}
{% load static %}

{% block contenido %}
<h3>Bienvenidos a la p&aacute;gina sobre m&iacute;</h3>
    <FONT SIZE=3>
    <p>Mi nombre es Imanol, Uruguayo de 35 a&ntilde;os, recibido de Ingeniero El&eacute;ctrico desde hace m&aacute;s de 8 a&ntilde;os.<p>
    <p>Actualmente vivo en Uruguay y estoy trabajando hace m&aacute;s de 7 a&ntilde;os en una f&aacute;brica de dispositivos m&eacute;dicos implantables. Me apasiona arreglar y optimizar cosas, y eso es lo que hago en el trabajo. Por lo que la parte de "hacer que ande" del curso no fue un peso para mi.</p>
    <p>Si bien quer&iacute;a hacer un proyecto aplicado a mi trabajo, como base de datos para registrar dispositivos analizados, no me fue tan sencillo pensar las clases a usar para aplicar a las entregas (tambi&eacute;n me cuesta un poco la cratividad no funcional o de optimizaci&oacute;n). Entonces busqu&eacute; en mis otras pasiones como son los deportes, por lo que implement&eacute; una Tienda de bicicletas.</p>
    <p>Espero que hayan disftuado esta p&aacute;gina.</p>
<br>
</FONT>
{% endblock %}