{% extends "base.html" %}
{% load static %}

{% block contenido %}


<br>
<h3> Formulario  -  Buscar Accesorio </h3>
<form action='/stock/buscar_accesorio/' method="get">
    <label for = 'crit'>Criterio</label>
    <select name="criterio" id="crit">
        <option value="marca"> Marca</option>
        <option value="tipo"> Tipo</option>
        <option value="descripcion"> Descripción</option>
    </select>
    <p>Caracter&iacute;stica:<input type = "text" name="caracteristica"></p>
    <input type="submit" value="Buscar">
</form>

{% endblock %}