{% extends "base.html" %}
{% load static %}

{% block contenido %}

<h3> Formulario  -  Crear Modelo de bicicleta </h3>
<form action="/stock/crear_modelo_de_bicicleta/" method="post">
    {% csrf_token %}
    <table>
        <p>Marca: <input type = "text" name="marca">
        <p>Tipo: <input type = "text" name="tipo">
        <p>Rodado: <input type = "number" name="rodado">
        <p>Stock: <input type = "number" name="stock">
    </table>
    <br>
    <input type="submit" value="Crear">
</form>

{% endblock %}