{% extends "base.html" %}
{% load static %}

{% block contenido %}

<body>
    <h3> Listado de Bicicletas </h3>
    
    {% for bicicleta in bicicletas %}
    
    <li>Bicicleta {{bicicleta.marca}} {{bicicleta.tipo}} rodado {{bicicleta.rodado}} - Stock = {{bicicleta.stock}}</li>
    <button>
        <a href = "{% url 'eliminar_bicicleta' marca_bicicleta=bicicleta.marca tipo_bicicleta=bicicleta.tipo rodado_bicicleta=bicicleta.rodado %}"> Eliminar </a>
    </button>
    <br>
    
    {% endfor %}

</body>
{% endblock %}